---
title: Työntekijän vahvistus i9-lomakkeen tarkistaminen
description: Yhdysvaltojen IRCA (Immigration Reform and Control Act) -laki edellyttää, että työnantajat varmistavat uusien työntekijöiden oikeuden työskennellä.
author: ShielaSogge
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 92480a8800571d477fcf00063e3303172274e595
ms.sourcegitcommit: 074b6e212d19dd5d84881d1cdd096611a18c207f
ms.translationtype: HT
ms.contentlocale: fi-FI
ms.lasthandoff: 03/31/2021
ms.locfileid: "5752101"
---
# <a name="employment-verification-i9-verification"></a>Työntekijän vahvistus i9-lomakkeen tarkistaminen

[!include [banner](../../../includes/banner.md)]

Yhdysvaltojen IRCA (Immigration Reform and Control Act) -laki edellyttää, että työnantajat varmistavat uusien työntekijöiden oikeuden työskennellä. Tässä menettelyssä käydään läpi I-9-lomakkeen tarkistuksessa tarvittavien asiakirjojen tallentaminen. Menettelyssä käytetään USMF-yritystä.

1. Siirry kohtaan Henkilöstöhallinto > Työntekijät > Työntekijät.
2. Käytä pikasuodatinta tietueiden etsimiseen. Voit esimerkiksi suodattaa Nimi-kenttää arvolla Vince.
3. Valitse työntekijä. Esimerkki: Vince Prado
4. Laajenna Henkilökohtaiset tiedot -pikavälilehti.
5. Valitse Tunnusnumerot.
6. Valitse Uusi.
7. Valitse tallennettava tunnustyyppi. Esimerkki: Passi
8. Kirjoita arvo Numero-kenttään.
9. Valitse Ensisijainen-kentässä Kyllä.
10. Määritä Kuvaus-kenttään tunnistetietueen nimi ja lyhyt kuvaus.
11. Valitse myöntäjäksi taho, joka on myöntänyt työntekijän henkilöllisyyden osoittavan asiakirjan. Esimerkki: Valtio
12. Syötä päivämäärä, jolloin työntekijän henkilöllisyyden osoittava asiakirja on myönnetty. Esimerkki: 15.2.2011
13. Syötä päivämäärä, jolloin asiakirja vanhenee. Esimerkki: 15.2.2021
14. Valitse Tallenna.
15. Sulje sivu.
16. Valitse Työsuhde-välilehti.
17. Valitse I-9.
18. Valitse Uusi.
19. Valitse Työlupa-kentässä vaihtoehto.
    * Jos työntekijä ei ole Yhdysvaltain kansalainen, lisää myös työntekijän valtuutus- tai käyttöoikeusnumero.  
20. Valitse GroupListA-vaihtoehto.
    * Valitsemasi luettelo riippuu siitä, miten työntekijä todistaa henkilöllisyytensä. Työntekijällä on oltava yksi luettelon A asiakirja ja yksi luettelon B ja C asiakirja. Jos työntekijä näyttää esimerkiksi passin, valitaan luettelo A. Jos työntekijä on näyttänyt ainoastaan ajokortin ja henkilökortin, valitaan luettelo B ja C.  
21. Valitse I-9-asiakirjan tyyppi -kentässä työntekijän toimittaman asiakirjan tyyppi.
22. Anna tai valitse arvo Asiakirjan numero -kenttään.
23. Valitse Tallenna.



[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]