--- 
title: "Työsuhdetarkistukset I-9-lomakkeella"
description: "Yhdysvaltojen IRCA (Immigration Reform and Control Act) -laki edellyttää, että työnantajat varmistavat uusien työntekijöiden oikeuden työskennellä."
author: ShielaSogge
manager: AnnBe
ms.date: 06/23/2016
ms.topic: business-process
ms.prod: 
ms.service: dynamics-ax-applications
ms.technology: 
audience: Application User
ms.reviewer: rschloma
ms.search.scope: Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: AX 7.0.0
ms.translationtype: HT
ms.sourcegitcommit: 55b22d246d6bfa9e8159fb844da95f61fcf07c62
ms.openlocfilehash: 2183a6599646880e3af2a76b28a40a6299401943
ms.contentlocale: fi-fi
ms.lasthandoff: 07/28/2017

---
# <a name="employment-verification-using-form-i-9"></a>Työsuhdetarkistukset I-9-lomakkeella

[!include[task guide banner](../../../includes/task-guide-banner.md)]

Yhdysvaltojen IRCA (Immigration Reform and Control Act) -laki edellyttää, että työnantajat varmistavat uusien työntekijöiden oikeuden työskennellä. Tässä menettelyssä käydään läpi I-9-lomakkeen tarkistuksessa tarvittavien asiakirjojen tallentaminen. Menettelyssä käytetään USMF-yritystä.

1. Siirry kohtaan Henkilöstöhallinto > Työntekijät > Työntekijät.
2. Käytä pikasuodatinta tietueiden etsimiseen. Voit esimerkiksi suodattaa Nimi-kenttää arvolla Vince.
3. Valitse työntekijä. Esimerkki: Vince Prado
4. Laajenna Henkilökohtaiset tiedot -pikavälilehti.
5. Valitse Tunnusnumerot.
6. Valitse Uusi.
7. Valitse tallennettava tunnustyyppi. Esimerkki: Passi
8. Kirjoita arvo Numero-kenttään.
9. Valitse Ensisijainen-kentässä Kyllä.
10. Määritä Kuvaus-kenttään tunnistetietueen nimi ja lyhyt kuvaus.
11. Valitse myöntäjäksi taho, joka on myöntänyt työntekijän henkilöllisyyden osoittavan asiakirjan. Esimerkki: Valtio
12. Syötä päivämäärä, jolloin työntekijän henkilöllisyyden osoittava asiakirja on myönnetty. Esimerkki: 15.2.2011
13. Syötä päivämäärä, jolloin asiakirja vanhenee. Esimerkki: 15.2.2021
14. Valitse Tallenna.
15. Sulje sivu.
16. Valitse Työsuhde-välilehti.
17. Valitse I-9.
18. Valitse Uusi.
19. Valitse Työlupa-kentässä vaihtoehto.
    * Jos työntekijä ei ole Yhdysvaltain kansalainen, lisää myös työntekijän valtuutus- tai käyttöoikeusnumero.  
20. Valitse GroupListA-vaihtoehto.
    * Valitsemasi luettelo riippuu siitä, miten työntekijä todistaa henkilöllisyytensä. Työntekijällä on oltava yksi luettelon A asiakirja ja yksi luettelon B ja C asiakirja. Jos työntekijä näyttää esimerkiksi passin, valitaan luettelo A. Jos työntekijä on näyttänyt ainoastaan ajokortin ja henkilökortin, valitaan luettelo B ja C.  
21. Valitse I-9-asiakirjan tyyppi -kentässä työntekijän toimittaman asiakirjan tyyppi.
22. Anna tai valitse arvo Asiakirjan numero -kenttään.
23. Valitse Tallenna.


