---
title: Työntekijän vahvistus i9-lomakkeen tarkistaminen
description: Yhdysvaltojen IRCA (Immigration Reform and Control Act) -laki edellyttää, että työnantajat varmistavat uusien työntekijöiden oikeuden työskennellä.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: josaw
ms.search.scope: Core, Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 4d7346507179d237f60459978b9b7c6351f48611
ms.sourcegitcommit: 0f530e5f72a40f383868957a6b5cb0e446e4c795
ms.translationtype: HT
ms.contentlocale: fi-FI
ms.lasthandoff: 01/29/2019
ms.locfileid: "333320"
---
# <a name="employment-verification-i9-verification"></a>Työntekijän vahvistus i9-lomakkeen tarkistaminen

[!include [task guide banner](../../../includes/task-guide-banner.md)]

Yhdysvaltojen IRCA (Immigration Reform and Control Act) -laki edellyttää, että työnantajat varmistavat uusien työntekijöiden oikeuden työskennellä. Tässä menettelyssä käydään läpi I-9-lomakkeen tarkistuksessa tarvittavien asiakirjojen tallentaminen. Menettelyssä käytetään USMF-yritystä.

1. Siirry kohtaan Henkilöstöhallinto > Työntekijät > Työntekijät.
2. Käytä pikasuodatinta tietueiden etsimiseen. Voit esimerkiksi suodattaa Nimi-kenttää arvolla Vince.
3. Valitse työntekijä. Esimerkki: Vince Prado
4. Laajenna Henkilökohtaiset tiedot -pikavälilehti.
5. Valitse Tunnusnumerot.
6. Valitse Uusi.
7. Valitse tallennettava tunnustyyppi. Esimerkki: Passi
8. Kirjoita arvo Numero-kenttään.
9. Valitse Ensisijainen-kentässä Kyllä.
10. Määritä Kuvaus-kenttään tunnistetietueen nimi ja lyhyt kuvaus.
11. Valitse myöntäjäksi taho, joka on myöntänyt työntekijän henkilöllisyyden osoittavan asiakirjan. Esimerkki: Valtio
12. Syötä päivämäärä, jolloin työntekijän henkilöllisyyden osoittava asiakirja on myönnetty. Esimerkki: 15.2.2011
13. Syötä päivämäärä, jolloin asiakirja vanhenee. Esimerkki: 15.2.2021
14. Valitse Tallenna.
15. Sulje sivu.
16. Valitse Työsuhde-välilehti.
17. Valitse I-9.
18. Valitse Uusi.
19. Valitse Työlupa-kentässä vaihtoehto.
    * Jos työntekijä ei ole Yhdysvaltain kansalainen, lisää myös työntekijän valtuutus- tai käyttöoikeusnumero.  
20. Valitse GroupListA-vaihtoehto.
    * Valitsemasi luettelo riippuu siitä, miten työntekijä todistaa henkilöllisyytensä. Työntekijällä on oltava yksi luettelon A asiakirja ja yksi luettelon B ja C asiakirja. Jos työntekijä näyttää esimerkiksi passin, valitaan luettelo A. Jos työntekijä on näyttänyt ainoastaan ajokortin ja henkilökortin, valitaan luettelo B ja C.  
21. Valitse I-9-asiakirjan tyyppi -kentässä työntekijän toimittaman asiakirjan tyyppi.
22. Anna tai valitse arvo Asiakirjan numero -kenttään.
23. Valitse Tallenna.

