---
title: Työntekijän vahvistus i9-lomakkeen tarkistaminen
description: Yhdysvaltojen IRCA (Immigration Reform and Control Act) -laki edellyttää, että työnantajat varmistavat uusien työntekijöiden oikeuden työskennellä.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.scope: Core, Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 544c298f83c4b1838a94aee95ed6038fcc1f4e4f
ms.sourcegitcommit: 16bfa0fd08feec1647829630401ce62ce2ffa1a4
ms.translationtype: HT
ms.contentlocale: fi-FI
ms.lasthandoff: 08/02/2019
ms.locfileid: "1850776"
---
# <a name="employment-verification-i9-verification"></a><span data-ttu-id="4ba96-103">Työntekijän vahvistus i9-lomakkeen tarkistaminen</span><span class="sxs-lookup"><span data-stu-id="4ba96-103">Employment verification i9 verification</span></span>

[!include [task guide banner](../../../includes/task-guide-banner.md)]

<span data-ttu-id="4ba96-104">Yhdysvaltojen IRCA (Immigration Reform and Control Act) -laki edellyttää, että työnantajat varmistavat uusien työntekijöiden oikeuden työskennellä.</span><span class="sxs-lookup"><span data-stu-id="4ba96-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="4ba96-105">Tässä menettelyssä käydään läpi I-9-lomakkeen tarkistuksessa tarvittavien asiakirjojen tallentaminen.</span><span class="sxs-lookup"><span data-stu-id="4ba96-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="4ba96-106">Menettelyssä käytetään USMF-yritystä.</span><span class="sxs-lookup"><span data-stu-id="4ba96-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="4ba96-107">Siirry kohtaan Henkilöstöhallinto > Työntekijät > Työntekijät.</span><span class="sxs-lookup"><span data-stu-id="4ba96-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="4ba96-108">Käytä pikasuodatinta tietueiden etsimiseen.</span><span class="sxs-lookup"><span data-stu-id="4ba96-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="4ba96-109">Voit esimerkiksi suodattaa Nimi-kenttää arvolla Vince.</span><span class="sxs-lookup"><span data-stu-id="4ba96-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="4ba96-110">Valitse työntekijä.</span><span class="sxs-lookup"><span data-stu-id="4ba96-110">Select the employee.</span></span> <span data-ttu-id="4ba96-111">Esimerkki: Vince Prado</span><span class="sxs-lookup"><span data-stu-id="4ba96-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="4ba96-112">Laajenna Henkilökohtaiset tiedot -pikavälilehti.</span><span class="sxs-lookup"><span data-stu-id="4ba96-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="4ba96-113">Valitse Tunnusnumerot.</span><span class="sxs-lookup"><span data-stu-id="4ba96-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="4ba96-114">Valitse Uusi.</span><span class="sxs-lookup"><span data-stu-id="4ba96-114">Click New.</span></span>
7. <span data-ttu-id="4ba96-115">Valitse tallennettava tunnustyyppi.</span><span class="sxs-lookup"><span data-stu-id="4ba96-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="4ba96-116">Esimerkki: Passi</span><span class="sxs-lookup"><span data-stu-id="4ba96-116">Example: Passport</span></span>
8. <span data-ttu-id="4ba96-117">Kirjoita arvo Numero-kenttään.</span><span class="sxs-lookup"><span data-stu-id="4ba96-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="4ba96-118">Valitse Ensisijainen-kentässä Kyllä.</span><span class="sxs-lookup"><span data-stu-id="4ba96-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="4ba96-119">Määritä Kuvaus-kenttään tunnistetietueen nimi ja lyhyt kuvaus.</span><span class="sxs-lookup"><span data-stu-id="4ba96-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="4ba96-120">Valitse myöntäjäksi taho, joka on myöntänyt työntekijän henkilöllisyyden osoittavan asiakirjan.</span><span class="sxs-lookup"><span data-stu-id="4ba96-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="4ba96-121">Esimerkki: Valtio</span><span class="sxs-lookup"><span data-stu-id="4ba96-121">Example: Government</span></span>
12. <span data-ttu-id="4ba96-122">Syötä päivämäärä, jolloin työntekijän henkilöllisyyden osoittava asiakirja on myönnetty.</span><span class="sxs-lookup"><span data-stu-id="4ba96-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="4ba96-123">Esimerkki: 15.2.2011</span><span class="sxs-lookup"><span data-stu-id="4ba96-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="4ba96-124">Syötä päivämäärä, jolloin asiakirja vanhenee.</span><span class="sxs-lookup"><span data-stu-id="4ba96-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="4ba96-125">Esimerkki: 15.2.2021</span><span class="sxs-lookup"><span data-stu-id="4ba96-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="4ba96-126">Valitse Tallenna.</span><span class="sxs-lookup"><span data-stu-id="4ba96-126">Click Save.</span></span>
15. <span data-ttu-id="4ba96-127">Sulje sivu.</span><span class="sxs-lookup"><span data-stu-id="4ba96-127">Close the page.</span></span>
16. <span data-ttu-id="4ba96-128">Valitse Työsuhde-välilehti.</span><span class="sxs-lookup"><span data-stu-id="4ba96-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="4ba96-129">Valitse I-9.</span><span class="sxs-lookup"><span data-stu-id="4ba96-129">Click I-9.</span></span>
18. <span data-ttu-id="4ba96-130">Valitse Uusi.</span><span class="sxs-lookup"><span data-stu-id="4ba96-130">Click New.</span></span>
19. <span data-ttu-id="4ba96-131">Valitse Työlupa-kentässä vaihtoehto.</span><span class="sxs-lookup"><span data-stu-id="4ba96-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="4ba96-132">Jos työntekijä ei ole Yhdysvaltain kansalainen, lisää myös työntekijän valtuutus- tai käyttöoikeusnumero.</span><span class="sxs-lookup"><span data-stu-id="4ba96-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="4ba96-133">Valitse GroupListA-vaihtoehto.</span><span class="sxs-lookup"><span data-stu-id="4ba96-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="4ba96-134">Valitsemasi luettelo riippuu siitä, miten työntekijä todistaa henkilöllisyytensä.</span><span class="sxs-lookup"><span data-stu-id="4ba96-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="4ba96-135">Työntekijällä on oltava yksi luettelon A asiakirja ja yksi luettelon B ja C asiakirja. Jos työntekijä näyttää esimerkiksi passin, valitaan luettelo A.</span><span class="sxs-lookup"><span data-stu-id="4ba96-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="4ba96-136">Jos työntekijä on näyttänyt ainoastaan ajokortin ja henkilökortin, valitaan luettelo B ja C.</span><span class="sxs-lookup"><span data-stu-id="4ba96-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="4ba96-137">Valitse I-9-asiakirjan tyyppi -kentässä työntekijän toimittaman asiakirjan tyyppi.</span><span class="sxs-lookup"><span data-stu-id="4ba96-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="4ba96-138">Anna tai valitse arvo Asiakirjan numero -kenttään.</span><span class="sxs-lookup"><span data-stu-id="4ba96-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="4ba96-139">Valitse Tallenna.</span><span class="sxs-lookup"><span data-stu-id="4ba96-139">Click Save.</span></span>

